<tbody>
  <tr>
    <td><%= task.title %></td>
    <td><%= task.discription %></td>
    <td><%= task.bill_able %></td>
    <td>
      <%= link_to 'Show', manager_project_task_path(task.project, task) %> |
      <%= link_to 'Edit', edit_manager_project_task_path(task.project, task) %> |
      <%= link_to 'Destroy', manager_project_task_path(task.project, task), method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
</tbody>
