<div class="nested-fields">
  <div class="field">
    <p>
      <%= f.label :start_time %><br>
      <%= f.datetime_select :start_time %>
    </p>

    <p>
      <%= f.label :end_time %><br>
      <%= f.datetime_select :end_time, class: "form-control" %>
    </p>
  </div>

  <%= link_to_remove_association "remove", f %>
</div>
