<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <p>
        <strong>Title:</strong>
        <%= @task.title %>
      </p>

      <p>
        <strong>Discription:</strong>
        <%= @task.discription %>
      </p>

      <p>
        <strong>Bill able:</strong>
        <%= @task.bill_able %>
      </p>
    </div>
    <div class="panel-footer">
      <%= link_to 'Edit', edit_manager_project_task_path(@project, @task) %> |
      <%= link_to 'Back', manager_project_tasks_path(@project, @task) %>
    </div>
  </div>
</div>
