<%= form_for [:manager, project, invoice] do |f| %>
  <%= render 'shared/errors', resource: invoice %>

  <%= f.hidden_field :total_hours %>

  <%= f.hidden_field :per_hour_rate %>

  <%= f.hidden_field :total_amount %>

  <%= f.hidden_field :start_time %>

  <%= f.hidden_field :end_time %>

  <div class="form-group">
    <%= f.submit class: 'form-control btn btn-success' %>
  </div>
<% end %>
