<tbody>
  <tr>
    <td><%= invoice.per_hour_rate %></td>
    <td><%= invoice.total_hours %></td>
    <td><%= total_amount(invoice.per_hour_rate, invoice.total_hours) %></td>
    <td>
      <%= link_to 'Destroy', manager_project_invoice_path(invoice.project, invoice), method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
</tbody>
