<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="light-well">
        <h2 class="page-header text-center">Edit Invoice</h2>
        <%= form_for [:manager, @project, @invoice] do |f| %>
          <%= render 'shared/errors', resource: invoice %>

          <div class="form-group">
            <%= f.label :per_hour_rate %><br>
            <%= f.text_field :per_hour_rate, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :total_hours %><br>
            <%= f.text_field :total_hours, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :total_amount %><br>
            <%= f.text_field :total_amount, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.submit class: 'form-control btn btn-success' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
