<h1>Listing invoices</h1>

<%= link_to 'Generate invoice', new_manager_project_invoice_path %>
<table class="table table-sm">
  <tr>
    <th>Total hours</th>
    <th>Hour Cost</th>
    <th>Total amount</th>
    <th>CRUD</th>
  </tr>

  <%= render @invoices %>
</table>
