<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="light-well">
        <h2 class="page-header text-center">New Invoice</h2>

        <%= render 'time_duration', invoice: @invoice, project: @project %>

        <% if @tasks.present? %>
          <table class="table table-sm">
            <tr>
              <th>Title</th>
              <th>Discription</th>
              <th>Bill able</th>
              <th>Total hours</th>

            </tr>

             <%= render partial: 'task', collection: @tasks %>
          </table>

          <table class="table table-sm">
            <tr>
              <th>Per hour cost</th>
              <th>Total hours</th>
              <th>Total amount</th>
            </tr>

            <tbody>
              <tr>
                <td><%= @invoice.per_hour_rate %></td>
                <td><%= @invoice.total_hours %></td>
                <td><%= @invoice.per_hour_rate * @invoice.total_hours %></td>
              </tr>
            </tbody>
          </table>

          <%= render 'form', invoice: @invoice, project: @project %>
        <% else %>
          <b> Records not found. </b>
        <% end %>
      </div>
    </div>
  </div>
</div>
