<tbody>
  <tr>
    <td><%= project.title %></td>
    <td><%= project.discription %></td>
    <td>
      <%= link_to 'Show', user_project_path(project) %> |
      <%= link_to 'Tasks', user_project_tasks_path(project) %>
    </td>
  </tr>
</tbody>
