<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <p>
        <strong>Title:</strong>
        <%= @project.title %>
      </p>

      <p>
        <strong>Discription:</strong>
        <%= @project.discription %>
      </p>
    </div>
    <div class="panel-footer">
      <%= link_to 'Back', user_projects_path %>
    </div>
  </div>
</div>
