<%= form_for [:user, project, task] do |f| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(task.errors.count, "error") %> prohibited
        this task from being saved:
      </h2>

      <ul>
        <% task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :discription %><br>
    <%= f.text_area :discription, class: "form-control" %>
  </div>

  <div class="checkbox">
    <label><%= f.check_box :bill_able %> Bill able</label>
  </div>

  <div id='time_slots'>
    <%= f.fields_for :time_slots do |time_slot| %>
      <%= render 'time_slots_fields', f: time_slot %>
    <% end %>
    <div>
      <%= link_to_add_association 'add time', f, :time_slots, partial: 'time_slots_fields' %>
    </div>
  </div>

  <%= f.submit class: 'form-control btn btn-success' %>
<% end %>
