<tbody>
  <tr>
    <td><%= task.title %></td>
    <td><%= task.discription %></td>
    <td>
     <%= link_to 'Show', user_project_task_path(task.project, task) %> |
     <%= link_to 'Edit', edit_user_project_task_path(task.project, task) %> |
     <%= link_to 'Destroy', user_project_task_path(task.project, task), method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
</tbody>
