<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="light-well">
        <h2 class="page-header text-center">Edit task</h2>

        <%= render 'form', task: @task, project: @project %>

        <%= link_to 'Back', user_project_tasks_path %>
      </div>
    </div>
  </div>
</div>
