<h1>Listing tasks</h1>

<%= link_to 'New task', new_user_project_task_path(@project) %>
<table class="table table-sm">
  <tr>
    <th>Title</th>
    <th>Discription</th>
    <th>CRUD</th>
  </tr>

   <%= render @tasks %>
</table>
