<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <p>
        <strong>Title:</strong>
        <%= @task.title %>
      </p>

      <p>
        <strong>Discription:</strong>
        <%= @task.discription %>
      </p>
    </div>
    <div class="panel-footer">
      <%= link_to 'Edit', edit_user_project_task_path(@project, @task) %> |
      <%= link_to 'Back', user_project_tasks_path(@project, @task) %>
    </div>
  </div>
</div>
