<h2>Send invitation</h2>

<%= form_for @manager, url: send_invitation_admin_managers_path do |f| %>

   <table>
     <tr>
      <td><%= f.label :first_name %></td>
      <td><%= f.text_field :first_name %></td>
    </tr>
    <tr>
      <td><%= f.label :last_name %></td>
      <td><%= f.text_field :last_name %></td>
    </tr>
    <tr>
      <td><%= f.label :email %></td>
      <td><%= f.text_field :email, required: true %></td>
    </tr>
   </table>

  <%= f.submit "Send an Invitation" %>
<% end %>
