<div id="flash_message">
  <% flash.each do |message_type, message| %>
    <div class="alert text-center alert-<%= flash_class_name(message_type) %> alert-dismissable">
      <span><%= message %></span>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
</div>
