<%= form_for [:manager, report] do |f| %>
  <%= render 'shared/errors', resource: report %>

  <%= f.fields_for :expense_reports do |expense_report| %>
    <%= render 'expense_reports_fields', f: expense_report, expenses: expenses  %>
  <% end %>

  <%= f.fields_for :task_reports do |task_report| %>
    <%= render 'task_reports_fields', f: task_report, tasks: tasks  %>
  <% end %>

  <%= f.hidden_field :total_income, value: report.total_incomes(tasks) %>

  <%= f.hidden_field :total_expense, value: report.total_expenses(expenses) %>

  <%= f.hidden_field :start_time %>

  <%= f.hidden_field :end_time %>

  <div class="form-group">
    <%= f.submit class: 'form-control btn btn-success' %>
  </div>
<% end %>
