<tr>
  <td><%= report.total_income %></td>
  <td><%= report.total_expense %></td>
  <td><%= date_formate(report.start_time) %></td>
  <td><%= date_formate(report.end_time) %></td>
  <td>
    <%= link_to 'Show', manager_report_path(report) %>
    <%= link_to 'Destroy', manager_report_path(report), method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>
</tr>
