<%= form_for [:manager, report], url: { action: "new" }, method: "get" do |f| %>
  <div class="field center">
    <p>
      <%= f.label :start_time %>
      <%= f.date_field :start_time %>
    </p>

    <p>
      <%= f.label :end_time %>
      <%= f.date_field :end_time %>
    </p>
  </div>

  <div class="form-group">
    <%= f.submit "Generate", class: 'btn-sm btn-success' %>
  </div>
<% end %>
