<h1>Listing reports</h1>

<%= link_to 'Generate report', new_manager_report_path %>
<table class="table table-sm">
  <tr>
    <th>Total income</th>
    <th>Total expenses</th>
    <th>Start time</th>
     <th>End time</th>
    <th>CRUD</th>
  </tr>

  <tbody>
    <%= render @reports %>
  </tbody>
</table>
