<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="light-well">
        <h2 class="page-header text-center">New Report</h2>

        <%= render 'time_duration', report: @report %>

        <% if @tasks.present? %>
          <table class="table table-sm">
            <tr>
              <th>Title</th>
              <th>Discription</th>
              <th>Bill able</th>
              <th>Total hours</th>
            </tr>

            <tbody>
              <%= render partial: 'task', collection: @tasks %>
            </tbody>
          </table>

          <table class="table table-sm">
            <tr>
              <th>Title</th>
              <th>Amount</th>
              <th>Date</th>
            </tr>

            <tbody>
              <%= render partial: 'expense', collection: @expenses %>
            </tbody>
          </table>
          <%= render 'form', report: @report, expenses: @expenses, tasks: @tasks %>
        <% else %>
          <b> Records not found. </b>
        <% end %>
      </div>
    </div>
  </div>
</div>
