<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">

      <table class="table table-sm">
        <tr>
          <th>Title</th>
          <th>Discription</th>
          <th>Total hours</th>
          <th>Total</th>
        </tr>

        <tbody>
          <%= render partial: 'task', collection: @tasks %>
        </tbody>
      </table>

      <p class="pull-right col-md-2">
        <strong>Total income:</strong>
        <%= @report.total_income %>
      </p>

      <table class="table table-sm">
        <tr>
          <th>Title</th>
          <th>Amount</th>
          <th>Date</th>
        </tr>

        <tbody>
          <%= render partial: 'expense', collection: @expenses %>
        </tbody>
      </table>

      <p class="pull-right col-md-2">
        <strong>Total expenses:</strong>
        <%= @report.total_expense %>
      </p>

    </div>

    <div class="panel-footer">
      <%= link_to 'Back', manager_reports_path %>
    </div>
  </div>
</div>
