<td><%= manager.email %></td>
<td><%= manager.invitations_count %></td>
<td><%= date_time_formate(manager.invitation_sent_at) %></td>
<td>
  <%= link_to 'Resend invitation', manager_invite_path(manager), method: :post, remote: true %>
</td>
