<% if resource.errors.any? %>
  $('#error_messages').html("<%= j devise_error_messages! %>");
<% else %>
  $('#error_messages').html("");
  $('#flash_message').html("<%= j render 'shared/flash' %>");

  <% if resource.new_record? %>
    $('#pending_invitations_body').prepend("<tr id='manager-<%= resource.id %>'><%= j render 'pending_invitation', manager: resource %></tr>");
  <% end %>
<% end %>
