<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="light-well">
        <h2><%= t 'devise.invitations.edit.header' %></h2>
        <%= form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put } do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :invitation_token, readonly: true %>

          <% if f.object.class.require_password_on_accepting %>
            <div class="form-group">
              <%= f.label :first_name %><br/>
              <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-control"  %>
            </div>

            <div class="form-group">
              <%= f.label :last_name %><br/>
              <%= f.text_field :last_name, autocomplete: "last_name", class: "form-control"  %>
            </div>

            <div class="form-group">
              <%= f.label :password %><br />
              <%= f.password_field :password, class: "form-control"  %>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, class: "form-control"  %>
            </div>

            <div class="form-group">
              <p><%= f.label :Image_upload %><br/>
              <%= f.file_field :image %></p>
            </div>
          <% end %>

          <div class="form-group">
            <%= f.submit t("devise.invitations.edit.submit_button"), class: "btn btn-success btn-lg btn-block" %>
          </div>
        <% end %>
      </div>
   </div>
  </div>
</div>
