<h2><%= t "devise.invitations.new.header" %></h2>

<%= form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post }, remote: true do |f| %>

  <div id="error_messages">
    <%= devise_error_messages! %>
  </div>

  <% resource.class.invite_key_fields.each do |field| -%>
    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </div>
  <% end -%>
  <div class="form-group">
    <%= f.submit t("devise.invitations.new.submit_button"), class: 'btn btn-success btn-sm' %>
  </div>
<% end %>

<br />

<% if @pending_invitations.present? %>
  <h3>Pending invitations</h3>
  <table id="pending_invitations" class="table table-sm">
    <thead>
      <tr>
        <th>Email</th>
        <th>Invitation counts</th>
        <th>Invitation sent at</th>
        <th></th>
      </tr>
    </thead>

    <tbody id="pending_invitations_body">
      <% @pending_invitations.each do |manager| %>
        <tr id="manager-<%= manager.id %>">
          <%= render 'pending_invitation', manager: manager  %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<br />

<% if @accepted_invitations.present? %>
  <h3>Accepted invitations</h3>
  <table id="accepted_invitations" class="table table-sm">
    <tbody>
      <tr>
        <th>Email</th>
        <th>Invitation sent at</th>
        <th>invitation accepted at</th>
        <th></th>
      </tr>
    </tbody>
    <%= render partial: 'accepted_invitation', collection: @accepted_invitations, as: :manager %>
  </table>
<% end %>
