<tbody>
  <tr>
    <td><%= expense.title %></td>
    <td><%= expense.amount %></td>
    <td><%= date_formate(expense.date) %></td>
    <td><%= expense.recurring_expense.to_s %></td>
    <td>
      <%= link_to 'Show', manager_expense_path(expense) %> |
      <%= link_to 'Edit', edit_manager_expense_path(expense) %> |
      <%= link_to 'Destroy', manager_expense_path(expense), method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
</tbody>
