<%= form_for [:manager, expense] do |f| %>
  <%= render 'shared/errors', resource: expense %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :amount %><br>
    <%= f.number_field :amount, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :date %><br>
    <%= f.date_select :date, class: "form-control datepicker" %>
  </div>

  <div class="checkbox">
    <label>
      <%= f.check_box :recurring_expense %> Recurring expense
    </label>
  </div>

  <div class="form-group">
    <%= f.label :Employees %><br>
    <%= f.select :expenseable_id, expenseables, { include_blank: "Select employee" }, { class: 'form-control' } %>
    <%= f.hidden_field :expenseable_type, value: expense.expenseable_type %>
  </div>

  <div class="field-group">
    <%= f.label :Expense_type %><br>
    <%= f.select :expense_type, expense_types, { include_blank: "Select expense type" }, { class: 'form-control' }  %>
  </div>
  <br>

  <div class="form-group">
    <%= f.submit class: 'form-control btn btn-success' %>
  </div>
<% end %>

<% content_for :js_init do %>
  Expense.init_new();
<% end %>
