<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="light-well">
        <h2 class="page-header text-center">Edit Expense</h2>
        <%= render 'form', expense_types: @expense_types, expenseables: @expenseables, expense: @expense %>
        <%= link_to 'Back', manager_expenses_path %>
      </div>
    </div>
  </div>
</div>
