<h1>Listing expenses</h1>

<%= link_to 'New expense', new_manager_expense_path%>
<table class="table table-sm">
  <tr>
    <th>Title</th>
    <th>Amount</th>
    <th>Created Date</th>
    <th>Recurring Expenses</th>
    <th>CRUD</th>
  </tr>

  <%= render @expenses %>
</table>
