<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <p>
        <strong>Title:</strong>
        <%= @expense.title %>
      </p>

      <p>
        <strong>Amount:</strong>
        <%= @expense.amount %>
      </p>

      <p>
        <strong>Created Date:</strong>
        <%= date_formate(@expense.date) %>
      </p>

      <p>
        <strong>Belongs to:</strong>
        <% if @expense.expenseable.present? %>
          <%= @expense.expenseable.full_name %>
        <% end %>
      </p>

      <p>
        <strong>Recurring Expenses:</strong>
        <%= @expense.recurring_expense %>
      </p>

      <p>
        <strong>Expense type:</strong>
        <%= @expense.expense_type %>
      </p>
    </div>

    <div class="panel-footer">
      <%= link_to 'Edit', edit_manager_expense_path(@expense) %> |
      <%= link_to 'Back', manager_expenses_path %>
    </div>
  </div>
</div>
