<div class="nested-fields">
  <div class="row">
    <div class="col-md-10">
      <div class="form-group">
        <%= f.select :user_id, users, {}, { class: 'form-control' } %>
      </div>
    </div>

    <div class="col-md-2">
      <div class="form-group">
        <%= link_to_remove_association "x", f, class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
</div>
