<%= form_for [:manager, project] do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(project.errors.count, "error") %> prohibited
        this project from being saved:
      </h2>

      <ul>
        <% project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :discription %><br>
    <%= f.text_area :discription, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :cost %><br>
    <%= f.number_field :hour_cost, class: "form-control" %>
  </div>

  <h3>Assign Project</h3>
  <div id='employee_projects'>
    <%= f.fields_for  :employee_projects do |employee_project| %>
      <%= render 'employee_projects_fields', f: employee_project, users: users %>
    <% end %>

    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
          <%= link_to_add_association 'add employee', f, :employee_projects, render_options: { locals: { users: users } }, partial: 'employee_projects_fields', class: 'form-control btn btn-warning' %>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit class: 'form-control btn btn-success' %>
  </div>
<% end %>
