<tbody>
  <tr>
    <td><%= project.title %></td>
    <td><%= project.discription %></td>
    <td><%= project.hour_cost %></td>
    <td>
      <%= link_to 'Show', manager_project_path(project) %> |
      <%= link_to 'Edit', edit_manager_project_path(project) %> |
      <%= link_to 'Destroy', manager_project_path(project), method: :delete, data: { confirm: 'Are you sure?' } %> |
      <%= link_to 'Tasks', manager_project_tasks_path(project) %> |
      <%= link_to 'Invoice', manager_project_invoices_path(project) %>
    </td>
  </tr>
</tbody>
