<%= search_form_for [:manager, @search] do |f| %>
  <div class="form-group">
    <%= f.label :search_here %>

    <%= f.search_field :title_or_users_first_name_cont %>

  </div>

  <div class="form-group">
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>
