<h1>Listing projects</h1>

<%= link_to 'New project', new_manager_project_path %>
<table class="table table-sm">
  <tr>
    <th><%= sort_link @search, :title, "Title"%></th>
    <th>Discription</th>
    <th><%= sort_link @search, :hour_cost, "Hour cost"%></th>
    <th>CRUD</th>
  </tr>

  <%= render @projects %>
  <div class="form-group pull-right col-md-2">
    <%= render 'search_form' %>
  </div>
</table>
