<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="light-well">
        <h2 class="page-header text-center">New Project</h2>
        <%= render 'form', users: @users, project: @project %>
        <%= link_to 'Back', manager_projects_path %>
      </div>
    </div>
  </div>
</div>
