<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <p>
        <strong>Title:</strong>
        <%= @project.title %>
      </p>

      <p>
        <strong>Discription:</strong>
        <%= @project.discription %>
      </p>

      <p>
        <strong>Hour cost:</strong>
        <%= @project.hour_cost %>
      </p>
    </div>

    <div class="panel-footer">
      <%= link_to 'Edit', edit_manager_project_path(@project) %> |
      <%= link_to 'Back', manager_projects_path %>
    </div>
  </div>
</div>
