<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="light-well">
        <h2 class="page-header text-center">Sign Up</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :first_name %><br/>
          <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :last_name %><br/>
          <%= f.text_field :last_name, autocomplete: "last_name", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :email %><br/>
          <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br/>
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %><br/>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :Image_upload %><br/>
          <%= f.file_field :image %>
        </div>
        <br>
        <div class="form-group">
          <%= f.submit "Sign up", class: "btn btn-success btn-lg btn-block" %>
        </div>
        <% end %>
      </div>
      <br>
      <%= render "managers/shared/links" %>
    </div>
  </div>
</div>
