<nav class="navbar navbar-default">
  <div class="container-fluid">
    <%- if user_signed_in? %>
      <ul class="nav navbar-nav">
        <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
        <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
        <li><%= link_to 'Project', user_projects_path %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <%= image_tag(current_user.image, class: "img-thumbnail", size: "80x80") %>
      </ul>
    <% elsif manager_signed_in? %>
      <ul class="nav navbar-nav">
        <li><%= link_to 'Sign out', destroy_manager_session_path, method: :delete %></li>
        <li><%= link_to 'Edit Profile', edit_manager_registration_path %></li>
        <li><%= link_to 'Project', manager_projects_path %></li>
        <li><%= link_to 'Expenses', manager_expenses_path %></li>
        <li><%= link_to 'Financial Reports', manager_reports_path %></li>
        <li><%= link_to 'Send invitations', new_manager_invitation_path %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <%= image_tag(current_manager.image, class: "img-thumbnail", size: "80x80") %>
      </ul>
    <% else %>
      <ul class="nav navbar-nav"> <li><%= link_to 'Sign in as Manager', new_manager_session_path %></li></ul>
      <ul class="nav navbar-nav"> <li><%= link_to 'Sign in as User', new_user_session_path %></li></ul>
    <% end %>
  </div>
</nav>
