<!DOCTYPE html>
<html>
  <head>
    <title>TrackingSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>

    <%= render 'shared/flash' %>

    <div class="container">
      <%= yield %>
    </div>

    <script type="text/javascript">
      <%= yield :js_init %>
    </script>
  </body>
</html>
